doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Gigatech
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap' rel='stylesheet')
  link(rel="stylesheet" href="/stylesheets/stylesheet.css")
header.header
  a(href="/") 
    img.logo(src="/images/logo.jpeg", alt="Company-logo")
  form
    input(type='text' placeholder='Search...')
    button(type='submit') Search
  nav
    a(href='/All') All
    a(href='/wishlist') Wishlist
    a(href='/cart') Cart
    a(href='/login') Account
main
  .left-side
    h3 Kategorien
    ul
      li
        a(href='/category/tools') tools
      li
        a(href='/category/candles') candles
      li
        a(href='/category/periphery') periphery
      li
        a(href='/category/phone') phone
      li
        a(href='/category/tablet') tablet
      li
        a(href='/category/audio') audio
  .right-side
    a
      img.hide-on-search(src='https://gigatec.s3.amazonaws.com/M1.jpg')

      h1 1.   Warum wechselt Apple von Intel zu einem eigenen Chip

      p Intel ist ein Gigant in der Technikwelt. Alles läuft auf Intel. Selbst wenn man nicht sehr Techinteressiert ist, hat man wahrscheinglich schon einmal von Intel gehört, oder weiss, dass ein Intel im eigenen Laptop steckte. Apple beginnt jetzt jedoch, sich von Intel abzuwenden. Die Low-End Produkte wie das MacBook Air oder der kleine iMac 24", aber auch das MacBook Pro 13" sind schon mit einem M1 Chip verfügbar und bis zum Ende 2021 sollten alle Systeme auf den Chips von Apple laufen. Der Vorteil von diesen neuen Chips ist klar ersichtlich. Die Batterielaufzeit wurde extrem verlängert und die Leistung ist auch um einiges angestiegen. Das mag erstaunlich klingen, wenn man Apple nicht näher mitverfolgt hat. Wie hat es die iPhone Firma geschafft, einen Chip aus dem nichts zu erschaffen, der Intel im Staub liegen lässt?
      br
      p Zum einen hat Apple natürlich das Geld, sich die nötige Expertise zu kaufen, aber Apple produziert auch schon seit dem ersten iPad eigene Chips. Diese waren allerdings nur lizenziert von ARM. ARM hat die Architektur entwickelt und lizenziert diese zu verschiedenen Hersteller. Ab dem A4 Chip hat Apple dann die Chips in Hause hergestellt. Das erlaubte Apple, den Fokus der Chips selbst zu legen und alles so zusammenzustellen, wie sie es gerne haben. Dies ermöglicht eine nähere Integration von Hard- und Software, für die Apple heute so bekannt ist.
      p Apple führt jetzt schon seit einer ganzen Weile mit Computepower im Handymarkt, da sie mehr Ressourcen investieren können mit tieferem Risiko als Gegner wie AMD. Diese wissen nicht immer genau, wie viel Chips sie verkaufen werden und müssen deshalb vorsichtiger sein.
      p Apple hat dann mit den iPad Pros richtig losgelegt, was die Leitung betrifft. Die iPads wurden zwar immer noch belächelt, weil viele Menschen immer noch glauben, dass damit nicht richtig gearbeitet werden kann, aber die Wahrheit ist, dass diese iPads mit den Apple-eigenen Chips mehr Leistung hat, als ein Grossteil der Laptops, die auf dem Markt sind. Diese "Bionic" Serie der Chips wird auch als Testlauf für die neuen M1 Chips angeschaut. Dies erklärt auch die total überpowerten iPads, die diese Leistung nie komplett ausschöpfen konnten.
      h1 2.   Was bedeutet der M1 Chip für Apple
      p Natürlich hat dieser neue Chip nicht nur positive Seiten. Es gibt auch Schattenseiten, die auch erwähnt gehören. Ein zentraler Punkt ist, dass dieser Chip auf der ARM Architektur basiert und aus diesem Grund nicht kompatibel ist mit x86 Programmen und damit einen bedeutenden Umbruch definiert. Apple ist nicht blöd und hat mit den ersten Laptops gleich einen Emulationslayer mitgeliefert. Da der M1 Chip um einiges schneller ist als Intel Chips, kann er trotz dem Emulationslayer bessere Leistung an den Tag legen, als die Intel Chips, auch wenn der Vorteil nicht mehr so gross ist. Dieser Emulationslayer ist aber nur für den Übergang gedacht. Später wird dieser nicht mehr unterstütz werden und Apple erwartet, dass die Apps aktualisiert werden. Das ist ein Problem für abandonware, die vielleicht immer noch funktioniert, aber nur knapp. Ausserdem kostet diese Umstellung viel Geld und Zeit, was vor allem für die kleineren Entwickler schwer ist, da nach dieser Umstellung die Apps einfach wieder funktionieren und für die Nutzer keinen Mehrwert bietet.
      p Weiter funktioniert Bootcamp und Emulation von x86 Betriebssystemen nicht mehr. Das ist vor allem für die Entwickler ein Problem, die bisher Macs verwendet haben, da man von denen aus für alle Betriebssysteme programmieren kann. Wenn Microsoft sich allerdings dranhält und Windows für ARM gut macht, kann dieses Problem auch behoben werden und dann würden die Macs wieder die besten Laptops für Entwickler werden.
      p Natürlich bieten die neuen Chips auch grosse Vorteile, wie zum Beispiel höhere Effizienz. Das mag für Intel kein Fokus sein oder im kleineren Massstab, als für Apple. Da die Chips, die Apple entwickelt aus dem Mobilgerätebereich kommen, wo Batterie noch viel begrenzter ist als in Laptops, haben sie da sehr viel Energie und Geld investiert. Deshalb haben die neuen Laptops auch extrem lange Batteriezeit, die weniger von energieintensiven Tasks beeinflusst wird als von Intel Chips. Die Chips laufen auch kühler, was das Ventilatorlose MacBook Air ermöglichte. Das bedeutet, dass im gleichen Power enveloppe ein stärkerer Chip eingebaut werden kann, was auch die extrem starken Chips ermöglicht, die am 18. September 2021 vorgestellt wurden. Diese Chips sind wortwörtlich "unleashed". Sie nehmen die Basis vom M1 und gehen ins extreme. Da die neuen MacBook Pros ein grösseres Powerenveloppe haben, können die Chips auch grösser und Wärme werden, aber laufen trotzdem noch kühler als die Chips von Intel.

      p Dadurch dass die Chips so schnell sind, können intensive Tasks schneller abgeschlossen werden und die effizienten Kerne können wieder verwendet werden, was wieder Energie spart.
      h1 3.   Wie manifestiert sich der Einfluss auf die PC-Industrie
      p Dieser Chip existiert natürlich nicht in einem Vakuum, sondern in einer von Intel dominierten Welt. Diese schläft auch nicht und schaut auch auf Apple und was da passiert. Dank Apple werden jetzt ARM Chips viel stärker unterstützt. Das war zuvor nicht der Fall, da es nie wirklich notwendig war, da der Marktanteil von ARM Chips nie gross genug war. Das hat sich jetzt allerdings geändert mit dem Prozessorwechsel. Mit dieser neu erlangten Akzeptanz können Hersteller wie AMD sich besser vermarkten und dabei auch auf die neuen Apple Chips verweisen und sich so als Pendant zu ihnen in der Windows Welt vermarkten. Dadurch können sie auch mehr Marktanteil erlangen und damit auch den ARM Umschwung in der Windows Welt einleiten. Wenn sie weit genug verbreitet sind, werden sie auch mehr support erhalten, da es sich jetzt rentiert und dann können sie durch andere Vorteile wie günstigere Preise, höhere Core-counts und so weiter sich preisen. Dadurch wird ein Engelskreis ausgelöst, der sich selbst immer wieder verstärkt.
      
      p Apple hat durch diesen Prozessorwechsel viel Unabhängigkeit bekommen, da sie jetzt nicht mehr Prozessoren von Intel in ihren Macs verbauen müssen. Das ist nicht so gut für die PC-Industrie. Zumindest denkt das Intel. Intel wählt seitdem diese neue Front eröffnet wurde eine offensivere Marketingstrategie, in der sie mit aller Macht versucht, sich als besser darzustellen.
      
      p Intel hat zwar nicht direkt auf den M1 reagiert, doch nicht lange später setzen sie Apple mit deren eigenem Chip unter Druck. Der M1 sei laut eigenen Tests nicht so gut wie von Apple angegeben. Der Core i7-1185G7 der 11. Generation soll angeblich nicht nur fast so gute Leistung haben, sondern sogar mehr. Auch in der Gaming Branche hat Apple laut Intel keine Chance. Denn Spiele sind nicht nur schlechter als bei Intel, sie laufen meist gar nicht auf dem M1. Nur was ist jetzt wahr und was nicht? Das weiss zurzeit niemand so richtig. Der «Streit» zwischen Apple und Intel hat angefangen, da Intel keine grossen Verbesserungen in ihren Chips hat und immer im Verzug ist auch mit dem processhrink. Nun hatte Apple genug und hat Intel kurzerhand über Bord gestossen. Intel hat jetzt zurückgegeben. Aber der Einfluss in die PC-Industrie ist nicht nur bei Intel zu spüren.
      
      h1 Fazit
      p Dieser letzte Abschnitt dient noch einmal zum Rekapitulieren der vielen Informationen, die in diesem Text enthalten sind. Wichtig ist sicher, dass Apple im Grossen und ganzen noch nicht so lange dabei ist bei der Prozessorherstellung, aber doch länger als man vermuten könnte. Das iPad hatte schon immer einen Apple eigenen Chip, allerdings wurde dieser Lizenziert und erst ab dem A4 wird er in hause entwickelt. Seitdem hat Apple grosse Sprünge gemacht in Prozessorgrösse, Effizienz, CPU Leistung und GPU Leistung. All diese Jahre von Erfahrung hat sich dann kulminiert im M1, dem M1 pro und dem M1 max. Der M1, der der erste dieser Apple Chips war, wurde extrem schnell im Staub liegen gelassen und wird um Längen von den neueren Versionen geschlagen. Das ist sehr erstaunlich, da solche Sprünge für gar nicht mehr möglich gehalten wurden. Damit startet Apple ein neues Zeitalter von Laptops, die unglaubliche Leistung und gleichzeitig immense Batteriezeit haben, die sicherlich durch einen Arbeitstag und noch länger hält, alles in einem dünnen und leichtem Format, das locker mitgenommen werden kann.
      p Apple sagt, dass der Mac sich so gut verkauft wie noch nie und ist damit einer der wenigen PC-Markt Bereiche, der wächst anstatt zu schrumpfen. Dieser Fortschritt lässt Apple sich natürlich auch etwas kosten. Bei den ersten Geräten wurden sie sogar günstiger, aber jetzt hat Apple die neuen MacBook Pros zur 2000 Franken grenze verschoben. Es ist auf keinen Fall unbegründet, aber es ist klar, dass das MacBook Air der Laptop für die meisten Menschen sein werden und ehrlich gesagt gibt es auch nicht viele, die mehr Leistung als vom M1 brauchen und diejenigen, die mehr Leistung brauchen, sind vermutlich im professionellen Bereich unterwegs, wo es eine Produktionsmaschine wäre und deshalb auch etwas kosten darf.
      h2 Quellen:
      a(href="https://en.wikipedia.org/wiki/Apple_silicon#Apple_A4") Wikipedia Apple Silicon
      br
      a(href="ARM_architecture](https://en.wikipedia.org/wiki/ARM_architecture)") Wikipedia ARM Architektur
      br
      a(href="https://www.cnbc.com/2020/11/10/why-apple-is-breaking-a-15-year-partnership-with-intel-on-its-macs-.html") CNBC Why Apple is breaking up with Intel
      br
      a(href="https://www.macrumors.com/guide/m1/") Macrumors M1
      br
      a(href="https://en.wikipedia.org/wiki/Rosetta_(software)") Wikipedia Rosetta
      br
      a(href="https://support.apple.com/en-us/HT211861") Apple Support page
      br
      a(href="https://www.apple.com/newsroom/2020/11/apple-unleashes-m1/") Apple newsroom
      br
      a(href="https://en.wikipedia.org/wiki/Apple_M1") Wikipedia Apple M1


    

    .Footer
      .Container
        .Row
          .Footer-Col-3
            h3 Useful Links
            ul
              li
                a(href="/about") about us
              li 
                a(href="/contact") impressum
              li 
                a(href="/return_policy") return policy


          .Footer-Col-4
            h3 Follow Us
            ul
              li 
                a(href="https://www.instagram.com/anojan_o7/") Instagram
              li 
                a(href="https://www.youtube.com/@andrin4871/videos") YouTube
        hr
        p.Copyright Copyright & Copy; 2023 - Gigatech
script(src="/javascripts/search.js")
