doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Gigatech
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap' rel='stylesheet')
  link(rel="stylesheet" href="/stylesheets/stylesheet.css")
header.header
  a(href="/") 
    img.logo(src="/images/logo.jpeg", alt="Company-logo")
  form
    input(type='text' placeholder='Search...')
    button(type='submit') Search
  nav
    a(href='/All') All
    a(href='/wishlist') Wishlist
    a(href='/cart') Cart
    a(href='/login') Account
main
  .left-side
    h3 Kategorien
    ul
      li
        a(href='/tools') tools
      li
        a(href='/candles') candles
      li
        a(href='/periphery') periphery
      li
        a(href='/phone') phone
      li
        a(href='/tablet') tablet
      li
        a(href='/audio') audio
  .right-side
    a
      h1 Return Policy
      p We do not accept returns as we are not sending anything out


    .Footer
      .Container
        .Row
          .Footer-Col-3
            h3 Useful Links
            ul
              li
                a(href="/about") about us
              li 
                a(href="/contact") impressum
              li 
                a(href="/return_policy") return policy



          .Footer-Col-4
            h3 Follow Us
            ul
              li Instagram
                a(href="https://www.instagram.com/anojan_o7/")
              li YouTube
                a(href="https://www.youtube.com/@andrin4871/videos")
        hr
        p.Copyright Copyright & Copy; 2023 - Gigatech
script(src="/javascripts/search.js")
